.btn {
  border-radius: 0.5rem;
  border: none;
  padding: 0.2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
}

.btn-text {
  margin-left: 0.5rem;
  color: white;
}

.btn-primary {
  background-color: hsl(26, 100%, 55%);
  margin-left: 1.5rem;
}

.btn-primary:hover {
  background-color: hsla(26, 100%, 55%, 0.5);
}

@media screen and (max-width: 1190px) {
  .btn {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
  }
}
